@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--background: #ffffff;*/
  --background: #EBF2F4;
  --foreground: #171717;
  --brand-primary: #427565;
  --brand-fill: #EBF2F4;
  --brand-stroke-weak: #f0f0f0;
  --brand-black: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
